.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
src/lib/chemdoodle
static

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore test report for playwright
**/playwright-report
**/test-results